<div style='font-size: 14px;line-height: 32px;display: flex;' class="selected-bank-info">
  <div style='width: 170px;'>
    <div>开户名 / Acc. Name：</div><br/>
    <div>开户行 / Bank：</div><br/>
    <div>账号 / Acc. Number：</div>
    <div>SWIFT code：</div>
  </div>
  <div style='color: #666666;'>
    <div><%=data.bankInfo?.openingAccountName%></div>
    <div><%=data.bankInfo?.openingAccountEnName%></div>
    <div><%=data.bankInfo?.bankName%></div>
    <div><%=data.bankInfo?.bankEnName%></div>
    <div><%=data.bankInfo?.bankNo%></div>
    <div><%=data.bankInfo?.swiftCode%></div>
  </div>
</div>
