<div style='margin-top: 16px;'>
    <div style='font-size: 16px;font-weight: 500;color: #222222;line-height: 22px;margin-bottom: 16px;'>特别批注 /
        special note
    </div>
    <div style='font-size: 14px;font-weight: 400;color: #222222;line-height: 24px;'>
        烦请您在3（叁）个工作日内确认以上金额。本付款通知书不是税务发票。当您确认以上金额无误后我们将开具税务发票。<br />
        Please confirm within 3 (three) working days. This Payment Notice is not an official tax invoice. We will issue
        the official tax invoice upon your confirmation of the abovementioned amount.<br />
        烦请您务必确认发票信息是否正确，如退换、遗失发票，请务必在当月提出，并配合我们按照税务局要求完成退换、遗失流程。<br />
        Please make sure the information of VAT invoice is correct. IF you exchange or lose the invoice, please let us
        know within the current month, and cooperate with us in accordance with the requirements of the tax bureau
        completed return and loss processes.<br /><br />
        如果您对本通知书有疑问，请与以下人员联系：<br />
        Should you need further clarification of this notice, please liaise with the following person:<br />
        联系人 / contact：<%= data.userInfo.englishName || '' %> <%= data.userInfo.name || '' %><br />
        电话 / phone：<%= data.userInfo.phone || '' %><br />
        邮箱 / email：<%= data.userInfo.email || '' %><br /><br />
        顺颂，商祺<br />
        Sincerely yours,<br />
        北京仕邦达人力资源服务有限公司上海分公司<br />
        FA Talent Human Resources Service Co., Ltd. Shanghai Branch
    </div>
</div>
