<div
  style='text-align: center;font-weight: 500;color: #222222;line-height: 33px;font-size: 24px;padding-bottom: 24px;margin-bottom: 8px;border-bottom: 1px solid #999999;'>
  账单明细
</div>
<div
  style='display: flex;margin-bottom: 35px;font-size: 14px;font-weight: 400;color: #222222;line-height: 32px;word-break: break-all;'>
  <div style='width: 70%'>
    <% if(!options?.isDeletedField('clientName')){ %>
    <div>致 / To:<span style='margin-left: 8px;color: #666666;display: inline-block;max-width: 50%;vertical-align: top;'
                       class='selected-client-name'><%= data.clientName %></span></div>
    <% } %>
    <div>客户号 / Client #:<span
      style='margin-left: 8px;color: #666666;display: inline-block;max-width: 50%;vertical-align: top;'
      class='selected-client-num'><%= data.clientNum %></span>
    </div>
    <div>Client Name (Chinese):<span
      style='margin-left: 8px;color: #666666;display: inline-block;max-width: 50%;vertical-align: top;'
      class='selected-client-name-chinese'><%= data.clientNameChinese %></span></div>
    <div>Client Name (English):<span
      style='margin-left: 8px;color: #666666;display: inline-block;max-width: 50%;vertical-align: top;'
      class='selected-client-name-english'><%= data.clientNameEnglish %></span></div>
    <div>Client address:<span style='margin-left: 8px;color: #666666;display: inline-block;' class="selected-address"><%= data.address %></span></div>
    <div>Attention:<span
      style='margin-left: 8px;color: #666666;display: inline-block;max-width: 50%;vertical-align: top;'
      class="selected-attention"><%= data.attention %></span></div>
    <div>Contact # <span style='margin-left: 8px;color: #666666;display: inline-block;'
                         class="selected-contact"><%= data.contactMobile %></span></div>
  </div>
  <div>
    <div>日期 / Date:<span style='margin-left: 8px;color: #666666;display: inline-block;'
                           class="selected-date"><%= data.date %></span></div>
    <div>Consultant:<span style='margin-left: 8px;color: #666666;display: inline-block;'
                          class="selected-date"><%=data.consultant%></span></div>
    <div>Team:<span style='margin-left: 8px;color: #666666;display: inline-block;' class="selected-team"><%= data.team || '' %></span></div>
  </div>
</div>
